/* OrderBasicInfo.css */

.orderBasicInfo-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orderBasicInfo-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.orderBasicInfo-item h3 {
    margin-bottom: 10px;
    color: #333;
}

.orderBasicInfo-item p {
    font-size: 18px;
    color: #666;
}
