/* OrderPage.css */

body {
    background-color: #f9f9f9;
}

.orderPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f9f9f9;
}

.orderPage-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.orderPage-container h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}